@import url(https://www.cssfontstack.com/);

footer p {
    font-size: 1.2em;
    color: bisque;
    font-family: 'Optima', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p a {
    color: bisque
}
footer p a:hover {
    text-decoration: none;
    text-align: center;
    color: yellow;
    background-color: black;
}    
div {
    max-width: 1600px;
    height: 200px;
}
#random-square-here{
    height: 500px;
    margin: 50px 0px;
    background-color: bisque;
}
.split{
    height: 500px;
}
#hero{
    text-align: center;
    height: 20000 px;
}
section
{
    text-align: center;
    max-width: 1600px;
}
.info{
    margin: 50px;
}
.border
{
    border: 1px solid rgba(20,30,13, .7);
}
section h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.cleaning-up-here
{
    height: 620px;
}
main section img {
    box-sizing: border-box;
    /*border: 1px solid rgba(20,30,13, .7);*/
}
.msg{
    background-color: rgba(20,30,13, .7);
    line-height: 1.5em;
    height: 160px;
    padding: 35px;
    color: bisque;
}
section a:hover{
    background-color: black;
    color: rgb(255, 255, 0)
}
#rapids-card
{
    background-color: powderblue;
}

.background {
    height: 725px;
}
.social 
{
    height: 300px;
}
body {
    background-color: #fcfbfb;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(20,30,13, .7);
    
}
main header nav a{
    text-indent: 7em;
    margin: 0px 15px ;
    padding: 0;
}
main header nav a:hover{
    background-color: bisque;
    color: rgba(20,30,13, .7);
    text-decoration: none;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: black;
}
.book, .join
{
    background-color: bisque;
    color: rgba(20,30,13, .7);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 28px;
    margin-top: 50px;
    border-radius: 5px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}  
nav a:hover {
    background-color: black;
}
img {
    
    width: 300px;
  }
.hero-img
{
    width: 1278px;
    display: block;
    margin: 0 auto;

}
.card-img
{
    border: 10px solid bisque;
}

.logo{
    width: 80px;
}
footer{
    background-color: rgba(20,30,13, .7);
    color: bisque;
    margin: 50px 0px;
    padding: 300px 50px;
}
footer img{
    width: 80px;
}
.icon {
    width: 80px;
}